In [1]:
import mysql.connector
import pandas as pd

con = mysql.connector.connect(
    host="haru-test.cht2hqsb55a9.ap-northeast-2.rds.amazonaws.com",
    user="admin",
    password="wittew-vorzac-0hYzra",
    database="haru_dev_db"
)

In [2]:
codes = [
    pd.read_csv('Rx.csv', usecols=['__typename', 'RxCodeGroup.groupName']).dropna().drop_duplicates(),
    pd.read_csv('Tx.csv', usecols=['__typename', 'TxCodeGroup.groupName']).dropna().drop_duplicates(),
    pd.read_csv('Vaccine2.csv', usecols=['__typename', 'VaccineCodeGroup.groupName']).dropna().drop_duplicates(),
    pd.read_csv('Supplies.csv', usecols=['__typename', 'SuppliesCodeGroup.groupName']).dropna().drop_duplicates(),
    pd.read_csv('AdmissionHotel.csv', usecols=['__typename', 'AdmissionHotelCodeGroup.groupName']).dropna().drop_duplicates()
]

for code in codes:
    for index, row in code.iterrows():
        cur = con.cursor()
        sql = """
            INSERT INTO hospital_pay_category (id, name, sub_name, hospital_id) 
            VALUES (get_unique_id_from_sequences('hospital_pay_category'), %s, %s, 5877)
        """
        cur.execute(sql, (row.values[0], row.values[1]))
        con.commit()
        cur.close()

In [3]:
code = pd.read_csv('Vaccine1.csv', usecols=['__typename']).dropna().drop_duplicates()


for index, row in code.iterrows():
    cur = con.cursor()
    sql = f"""
        INSERT INTO hospital_pay_category (id, name, hospital_id) 
        VALUES (get_unique_id_from_sequences('hospital_pay_category'), %s, 5877)
    """
    cur.execute(sql, (row.values[0],))
    con.commit()
    cur.close()